<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <target name="LogFile" xsi:type="File" fileName="logs/${shortdate}.log"
            layout="[${longdate}] [${logger}] ${uppercase:${level}} ${message}"/>
    <target name="LogConsole" xsi:type="Console"
            layout="[${longdate}] [${logger}] ${uppercase:${level}} ${message}"/>
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="LogFile"/>-->
    <logger name="*" minlevel="Debug" writeTo="LogFile"/>
    <logger name="*" minlevel="Debug" writeTo="LogConsole"/>
  </rules>
</nlog>
